doctype html
html
    head
        script(type='text/javascript' src='https://unpkg.com/axios/dist/axios.min.js')
        script(type='text/javascript' src='https://code.jquery.com/jquery-3.6.3.min.js')
        style.
            input[type=text], input[type=password] {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                box-sizing: border-box;
            }

            button {
                background-color: #EC412D;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 100%;
            }

            button:hover {
                opacity: 0.8;
            }

            .container {
                padding: 16px;
                width: 30%;
                margin-left: auto;
                margin-right: auto;
            }

            span.psw {
                float: right;
                padding-top: 16px;
            }

            #brand_image {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
    body
        script
            const brandImagePath = #{brandImagePath}
            const brandImageWidth = #{brandImageWidth}
        div
            div(style="display:inline")
                img(id='brand_image' src=brandImagePath width=brandImageWidth)
        form(action="/login" method="post")
            div(class='container')
                label Username
                input(type='text' placeholder='Enter Username' name='username' required)
                span(id="usernameErrorMessage" style="font-size:13px; color:red; margin-bottom: 15px; display: none") The username is not found
                br
                label Password
                input(type='password' placeholder='Enter password' name='password' required)
                span(id="passwordErrorMessage" style="font-size:13px; color:red; display: none") The password is not correct
                button(type='submit' onclick="login(event)") Login
        script.
            const login = (event) => {
                event.preventDefault()
                const username = $("input[name=username]").val()
                const password = $("input[name=password]").val()
                const sentData = {
                    username: username,
                    password: password
                }
                axios
                    .post('/login', sentData)
                    .then( (response) => window.location.href = "/" )
                    .catch(
                        (error) => {
                            if (error.response.status === 404) {
                                $("#usernameErrorMessage").css("display", "inline-block")
                                setTimeout(() => $("#usernameErrorMessage").css("display", "none"), 3000)
                            }
                            if (error.response.status === 401) {
                                $("#passwordErrorMessage").css("display", "inline-block")
                                setTimeout(() => $("#passwordErrorMessage").css("display", "none"), 3000)
                            }
                        }
                    )
            }